{% extends 'layout.html' %}

{% block title %}
    Categorias
{% endblock %}

{% block content %}
<form method="post" action="/categories">
 <section class="vh-100" style="background-color: #d56e3bf1;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-9">

        <h1 class="text-white mb-4">Creacion de Categoria</h1>

        <div class="card" style="border-radius: 15px;">
          <div class="card-body">

            <div class="row align-items-center pt-4 pb-3">
              <div class="col-md-3 ps-5">

                <h6 class="mb-0">Nombre Categoria</h6>

              </div>
              <div class="col-md-9 pe-5">

                <input name="nombre_categoria" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

              </div>
            </div>

            <hr class="mx-n3">

            <div class="row align-items-center py-3">
              <div class="col-md-3 ps-5">

                <h6 class="mb-0">Descripcion</h6>

              </div>
              <div class="col-md-9 pe-5">

                <input name="descripcion" type="text" class="form-control" id="exampleInputPassword1">

              </div>
            </div>

            

           

            

            <hr class="mx-n3">

            <div class="px-5 py-4">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
 </section>
</form>
{% endblock %}