{% extends 'layout.html' %}

{% block title %}
      Creando Curso
{% endblock %}

{% block content %}
<section class="vh-100" style="background-color: #2779e2;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-9">

        <h1 class="text-white mb-4">Crear un Curso</h1>

        <div class="card" style="border-radius: 15px;">
          <div class="card-body">
            <form method="POST" action="/create">
            
            <div class="row align-items-center pt-4 pb-3">
              <div class="col-md-3 ps-5">

                <h6 class="mb-0">Titulo del Curso</h6>

              </div>
              <div class="col-md-9 pe-5">

                <input type="text" class="form-control form-control-lg" name = "titulo" />

              </div>
            </div>

            

            <hr class="mx-n3">

            <div class="row align-items-center py-3">
              <div class="col-md-3 ps-5">

                <h6 class="mb-0">Descripcion del curso</h6>

              </div>
              <div class="col-md-9 pe-5">

                <textarea class="form-control" rows="3" placeholder="Descripcion" name="contenido"></textarea>

              </div>
            </div>

            <hr class="mx-n3">

            <div class="row align-items-center py-3">
              <div class="col-md-3 ps-5">

                <h6 class="mb-0">Categorias del curso</h6>
              </div>
              <div class="col-md-9 pe-5">
                 {% for cat in categorias %}
                 <div class="form-check">
                  <input name="categoria" class="form-check-input" type="checkbox" value="{{ cat.id }}" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">
                      {{ cat.name }}
                  </label>
              </div>
              <br>
                 {% endfor %}
                <br><br>
                <a href="/categories">Agregar una categoria</a>
              </div>
            </div>

            <hr class="mx-n3">

            <div class="row align-items-center py-3">
              <div class="col-md-3 ps-5">

                <h6 class="mb-0">Agregar Precio</h6>

              </div>
              <div class="col-md-9 pe-5">
                <input type="text" class="form-control form-control-lg" name = "price" />
              </div>
            </div>

            <div class="px-5 py-4">
              <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg">Subir Curso</button>
            </div>

        </div>

      </div>
    </div>
  </div>
</section>
{% endblock %}