{% extends 'layout.html' %}

{% block title %}
  Nosotros
{% endblock %}

{% block content %}
<div class="about-section text-center">
    <div class="container">
        <h2>Sobre Nosotros</h2>
        <p>Bienvenidos a ClassWeb, tu plataforma educativa en línea. Nos especializamos en ofrecer una amplia variedad de cursos para ayudarte a alcanzar tus metas académicas y profesionales.</p>
        <p>Nuestro equipo está comprometido en brindarte la mejor experiencia de aprendizaje a través de contenido de calidad y herramientas interactivas.</p>
    </div>
</div>

<!-- Team Section -->
<div class="team-section text-center">
    <div class="container">
        <h2>Nuestro Equipo</h2>
        <div class="row">
                <h5>Fernando Muñoz- Backend Developer</h5>
                <h5>Kevin Urbina- Backend Developer</h5>
                <h5>Gabriel Gonzalez- Frontend Developer</h5>
            </div>
        </div>
    </div>
</div>



{% endblock %}

{% block footer %}
<!-- Footer -->
<footer class="bg-light text-center py-4">
    <p>&copy; 2024 ClassWeb. Todos los derechos reservados.</p>
</footer>
{% endblock %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
